
body{
	background: #ecc7f3;
        margin: 0px;
        text-align: center; 
	}    

header{
	    background: #7e489c;
}

p{
      font-family: sans-serif;
} 

nav p {
	color: #fff;
    font-size: 50px;
    font-family: sans-serif;
    margin: 0px 0px 42px 0px; 
}

section{
    margin: auto;
    width: 600px;
}

article{
    margin: auto;
    width: 800px;
}

article p{
 text-align: center;
}

section img{
   max-width: 600px;
}

.restart {
        margin: 12px -102px 2px 102px;
}
button{
	background: #7e489c;
    color: #fff;
    padding: 10px 80px;
    border-radius: 10px;
    font-size: 30px;
    font-family: sans-serif;
    margin: 0px 15px;
}

button:hover{  
	background: #4b1966;
}

section p{
	color: #000;
    font-size: 30px;
    font-family: sans-serif;
}

footer{
	background: #7e489c;
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}

footer p {
	  color: #fff;
    font-size: 14px; 
    font-family: sans-serif;
}

.col-6{
    width: 48%;
     display: inline-table;
}

.col-6 p{
    font-size: 15px;
    margin: 0px 0px 14px 200px;
}

#acertos p{
    text-align: left;
}

#acertos p span{
background: #000;
margin-right: 10px;
color: #fff;
padding: 4px;
border-radius: 13px;
}

.col{
    margin-right: -15px;
    margin-left: -15px;
     display: table;  

}

#resultado{
    background: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #673AB7;
    font-size: 30px;
    font-weight: bold;
}


img.reportagem {
     padding: 23px 137px;
      max-width: 119px;
}


p.reportagem{
    margin: 10px;
    font-family: sans-serif;
    font-size: 17px;
}

p span, a{
        color: #000;
    font-weight: bold;
}

a{
    text-decoration: none;
   
}

a:houver{
    color: #4b1966;
}

.lado-2{
        border: 1px solid #9C27B0;
    border-radius: 12px;
}